        <main class="accept_offer">
            <h4>Enter the Schedule</h4>

            <%= form_with do |f| %>
                <%= f.datetime_local_field :schedule %>
                <br>
                <br>
                <%= f.submit %>
            <% end %>
        </main>