// Place all the styles related to the AcceptedOffers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.applications_list{
    margin :10px 10px 10px 10px;
    padding:10px 10px 10px 10px;
    height:100%;
    width:100%;
}

.applications_list .one{
    padding: 50px 50px;
    background-color:white;  
    color:black;
    margin-bottom:10px;
    height:200px;
}

.applications_list form.button_to .access {

    padding:10px 10px;
    background-color:rgb(135, 0, 83);
    color:white;
}

.applications_list .one .option{ 
    width: 400px;
    justify-content: space-between;
    border: 2px rgb(3, 3, 246);
    text-decoration: none;
    color: white;
    display: flex;
    float: left;
}

.applications_list .one p#time{
    color:red;
}

.accept_offer
{
    height: 200px;
    width: 400px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:white;
}

.accept_offer form{
    text-align: center;
}

.applications_list h1{
    text-align: center;
}

.simple-calendar {

    padding-left :10px;
    padding-right:10px;
    width: 100%;
    border-collapse: collapse;
    //border-spacing: 0;
    border: 1px solid rgb(0, 0, 0);
    font-size: 12px;
    color: indigo;
    background-color: white;
    text-align: center;
    padding-bottom: 20px;

.calendar-heading{
    display: flex;
    float: center;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 350px;
    padding-top: 20px;
}

.calendar-heading span.calendar-title{
    padding: 10px;
    background-color: rgb(0, 45, 83);
    color:white;
}


th{
    background-color: rgb(47, 77, 2);
    color: white;
    padding:20px;
}

    .day {
        width: fit-content;
        min-width: 20vh;
        padding: 5px;
        text-align: center;
        height: fit-content;
        min-height: 50px;
    }
  
    .wday-0 {
        color:rgb(187, 18, 18);
    }
    .wday-1 {}
    .wday-2 {}
    .wday-3 {}
    .wday-4 {}
    .wday-5 {}
    .wday-6 {}
  
    .today {
        background-color: rgb(248, 132, 0);
    }
    .past {}
    .future {}
  
    .start-date {}
  
    .prev-month {
        background-color: lavenderblush;
    }
    .next-month {
        background-color: lavenderblush;
     }
    .current-month {
        background-color: rgb(255, 196, 255) ;
    }
  
    .has-events {
        background-color: rgb(255, 255, 255);
        color: white;
    }

    
  }